In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [22]:
boston = pd.read_csv("Boston.csv")

In [23]:
boston

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [26]:
crim = boston["crim"]
zn = boston["zn"]
indus = boston["indus"]
chas = boston["chas"]
nox = boston["nox"]
rm = boston["rm"]
age = boston["age"]
dis = boston["dis"]
rad = boston["rad"]
tax = boston["tax"]
ptratio = boston["ptratio"]
black = boston["black"]
lstat = boston["lstat"]

In [36]:
lst = list(['crim', 'zn'])
boston[lst].corr()

          crim        zn
crim  1.000000 -0.200469
zn   -0.200469  1.000000

In [8]:
mlr = LinearRegression()

In [9]:
mlr.fit(x,y)

LinearRegression()

In [14]:
a = [[0.000632, 18.0, 65.2, 4.009, 296]]

In [15]:
ypred = mlr.predict(a)

In [16]:
ypred

array([26.21586233])